aiofiles
aiogram
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
alembic
annotated-types
anyio
attrs
bcrypt
black
certifi
click
dotenv
frozenlist
greenlet
h11
idna
itsdangerous
jinja2
magic-filter
mako
markupsafe
multidict
mypy-extensions
packaging
pathspec
platformdirs
propcache
pydantic
pydantic-core
python-dotenv
python-multipart
pytokens
sqlalchemy==2.0.45
starlette
starlette-admin
typing-extensions
typing-inspection
uvicorn
yarl